@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azul: #0493ED;
    --azul-destaque: #72C0F4;
    --azul-escuro: #0F111A;
    --azul-medio: #475569;
    --branco: #F1F1F1;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--azul-escuro);
}

section {
    padding: 2rem 0;
    text-align: center;
}

section.container-fluid {
    padding: 2rem 1.5rem;
}

h2 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 300;
}

ol {
    font-weight: 300;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: transparent;
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--azul-medio);
}

/* LIGHT MODE */

body.lightmode {
    background-color: var(--branco);
}

/* LIGHT MODE */