.contato {
    background-color: var(--verde-destaque);
    padding: 16px 0;
    text-align: center;
    color: #000000;
}

.contato h2 {
    text-transform: uppercase;
}

.contato .div-icones {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 16px auto;
}

.div-icones .icone {
    font-size: 56px;
    color: #000000;
    cursor: pointer;
    transition: 0.25s;
}

.div-icones .icone:hover, .div-icones .icone:active {
    color: rgba(0, 0, 0, 0.6        );
    transition: 0.25s;
}