.contato {
    background-color: var(--azul-destaque);
    color: #000000;
}

.contato .div-icones {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 1.5rem auto;
}

.div-icones .icone {
    font-size: 4rem;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}

.div-icones .icone:hover,
.div-icones .icone:active {
    color: rgb(200, 250, 255);
    transition: 0.5s;
}