.experiencias {
    background-color: var(--azul-escuro);
    color: #FFFFFF;
    transition: 0.5s;
}

.experiencias_lightmode {
    background-color: rgb(241, 241, 241);
    color: black;
    transition: 0.5s;
}

.div-experiencias {
    margin: 24px 0;
}

.experiencia {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 24px;
    padding: 32px;
    text-align: start;
}

.experiencia_lightmode {
    border: 1px solid rgba(0, 0, 0, 0.1);
}