.navbar {
    /* background-color: red; */
    background-color: var(--azul-escuro);
    padding: 24px 32px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    transition: 0.5s;
}

.lista-itens {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-menu {
    display: inline-block;
    text-align: center;
}

/*
nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
}
*/

.navbar a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    color: white;
    width: 150px;
    line-height: 48px;
    text-align: center;
    margin: 8px 10px;
    transition: 0.5s;
    display: inline-block;
}

.navbar a:hover, .navbar a:active {
    background-color: #FFFFFF;
    color: black;
    transition: 0.5s;
}

.navbar .destaque {
    background-color: var(--verde-destaque);
    color: #000000;
}

.icone-menu {
    font-size: 24px;
    color: white;
    border: none;
    display: none;
}

/*
@media (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        padding: 16px;
    }
    
    .navbar a {
        margin: 8px 0;
    }
    
    .lista-itens {
        margin: 0 0 16px 0;
    }

    .item-menu {
        display: block;
    }

    .icone-menu {
        display: block;
        align-self: end;
        margin: 16px;
    }
}
*/


.navbar-toggler, .navbar-toggler:focus {
    border: none;
    box-shadow: none;
    margin: 8px;
}

.navbar>.container-fluid {
    justify-content: end;
}

.menu {
    transition: height 0.75s ease;
}

.navbar .container-fluid {
    padding: 0;
}