.navbar {
    background-color: var(--azul-escuro);
    padding: 24px 32px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    transition: 0.5s;
}

.navbar_lightmode {
    background-color: rgb(241, 241, 241);
}

.lista-itens {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-menu {
    display: inline-block;
    text-align: center;
}

.item-menu-link {
    color: white;
}

.item-menu.light-dark {
    color: white;
    display: flex;
    justify-content: center;
}

.item-menu.light-dark a {
    width: 25px;
}

.item-menu.light-dark a:hover, 
.item-menu.light-dark a:active, 
.item-menu.light-dark a:focus {
    /* background-color: var(--azul-escuro); */
    background-color: transparent;
    color: var(--verde-destaque);
    transition: 0.5s;
}

.item-menu.light-dark_lightmode a:hover, 
.item-menu.light-dark_lightmode a:active, 
.item-menu.light-dark_lightmode a:focus {
    /* background-color: var(--azul-escuro); */
    background-color: transparent;
    color: var(--verde-destaque);
    transition: 0.5s;
}


/*
nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
}
*/

.navbar a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    /* color: white; */
    width: 150px;
    line-height: 48px;
    text-align: center;
    margin: 8px 10px;
    transition: 0.5s;
    display: inline-block;
}

.item-menu-link:hover, 
.item-menu-link:active, 
.item-menu-link:focus {
    background-color: #FFFFFF;
    color: black;
    transition: 0.5s;
}

.navbar_light a:hover, 
.navbar_light a:active, 
.navbar_light a:focus {
    background-color: var(--azul-escuro);
    color: white !important;
    transition: 0.5s;
}

.destaque {
    background-color: var(--verde-destaque);
    color: #000000;
}

.icone-menu {
    font-size: 24px;
    /* background-color: black; */
    background-color: transparent;
    color: white;
    border: none;
    display: none;
}

/*
@media (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        padding: 16px;
    }
    
    .navbar a {
        margin: 8px 0;
    }
    
    .lista-itens {
        margin: 0 0 16px 0;
    }

    .item-menu {
        display: block;
    }

    .icone-menu {
        display: block;
        align-self: end;
        margin: 16px;
    }
}
*/


.navbar-toggler, .navbar-toggler:focus {
    border: none;
    box-shadow: none;
    margin: 8px;
}

.navbar>.container-fluid {
    justify-content: end;
}

.menu {
    transition: height 0.75s ease;
}

.navbar .container-fluid {
    padding: 0;
}

.item-menu_lightmode {
    color: black;
}

.item-menu_lightmode:hover,
.item-menu_lightmode:active,
.item-menu_lightmode:focus {
    color: white;
    background-color: black;
}

#light-dark {
    font-size: 26px;
}

#light-dark:hover,
#light-dark:active,
#light-dark:focus {
    background-color: transparent;
    color: var(--verde-destaque);
    transition: 0.5s;
}