.portfolio {
    background-color: var(--azul-escuro);
    color: #FFFFFF;
}

.div-cartoes {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin: 24px 0;
}

.cartao {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 32px;
    width: 300px;
    text-align: start;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}

.cartao:hover {
    border: 1px solid var(--verde-destaque);
    cursor: pointer;
    transition: 0.5s;
    color: var(--azul-escuro);
}

.cartao#border-radius:hover {
    background-image: url(../img/border-radius-previewer_min.png);
}

.cartao h3 {
    font-size: 20px;
    font-weight: 700;
}