.projetos {
    color: #FFFFFF;
    /* transition: 0.5s; */
}

.div-cartoes {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin: 1.5rem auto;
    max-width: 996px;
}

.cartao {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2rem;
    width: 300px;
    text-align: start;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}

@media (max-width: 671px) {
    .cartao {
        width: 100%;
    }
}

.cartao:hover {
    border: 1px solid var(--azul-destaque);
    cursor: pointer;
    transition: 0.5s;
    color: transparent;
}

.cartao#border-radius:hover {
    background-image: url(../img/border-radius-previewer_min.png);
}

.cartao#tabuada:hover {
    background-image: url(../img/tabuada_min.png);
}

.cartao#health-track:hover {
    background-image: url(../img/health-track_min.png);
}

.cartao#hora-do-dia:hover {
    background-image: url(../img/hora-do-dia_min.png);
}

.cartao#passo-a-passo:hover {
    background-image: url(../img/passo-a-passo_min.png);
}

.cartao#analisador-de-numeros:hover {
    background-image: url(../img/analisador-de-numeros_min.png);
}

/* LIGHT MODE */

.projetos_lightmode {
    background-color: var(--branco);
    /* transition: 0.5s; */
    color: #000000;
}

.cartao_lightmode {
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);

}
/* LIGHT MODE */